.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: -13rem;
  margin-right: 2rem;
}

.loader {
  border: 4px solid rgba(0, 0, 0, 0.3); /* Transparent border */
  border-top: 4px solid #3498db; /* Loader circle color */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite; /* Animation */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
